#VS intermediate files
vs2022/.vs/*
vs2022/intermediate/*

# Runtime
*.exe
*.dll
*.log

# symbol files
*.pdb

# includes files, third party binaries
thirdparty/*

working/persistence/
#vcpkg
vcpkg_installed
vcpkg
