#VS intermediate files
vs2022/.vs/*
vs2022/intermediate/*

# Runtime
*.exe
*.dll
*.log

# symbol files
*.pdb

# extracted dpp dependencies
thirdparty/dpp/win64/*

# extracted curl depedencies
thirdparty/curl/win64/*

#vcpkg
vcpkg_installed
vcpkg
